#product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  width: 230px;
  padding: 20px;
  gap: 20px;
  height: 300px;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}

.img-container img {
  width:180px;
  height:180px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  min-height: 100px;
  flex: 1;

  #title {
    font-weight: bold;
    font-size: 16px;
  }

  #description {

    font-size: 14px;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.5;

    #price {
      font-size: 20px;
      margin-top: 4px;
      font-weight: bold;
      color: darkred;
    }

    #btn-buy {
      width: 40px;
      padding: 3px 6px;
      background-color: darkgreen;
      border: none;
      border-radius: 30px;
      color: white;
      box-shadow: none;
      text-align: center;
      cursor: pointer;

      .small-icon{
        font-size: 20px;
        margin-top: 6px;
      }

    }


  }

}


